SEPOLIA_RPC_URL: ENCRYPTED|UbCkwxov5LySecGT/qzN7tGHr+Ur+v1mimMCXAThdKTGCkfkakSeFbEvGGV+HlKKBen7otsSuBVr/iYqOleSc40U6pioe1pADIHRU6TyN3IyIwXvgd0fYgj+T7WYN7DO3d2MWDZVOgys9jrbVJb2Bht/3DBB
POLYGON_RPC_URL: ENCRYPTED|xn0ZrswMt0Q+4wov8qjvqa+Wvb36Q0Sfa2fczYFkbgAyr448n51lkScaumTyTCRE
AMOY_RPC_URL: ENCRYPTED|qB9VM/ri22R7WWwRqZPnik3byFZdHjqyCJ2vOjVCdC+cCIITwgic8Q1T+SWq78qZyC1AaQXG3SO1YlPNqlhXVNwMTXANRFdaXhOxZt8xJdX+diN/WoJIlOjRm4zcznT+Sirlk3/V97YKzo6gziOpoIfIdBiASA==
PRIVATE_KEY: ENCRYPTED|wl1iLDl+CmUy4sGF0Ss04R4IhslJSy5eFpBzQAd4jY3pdVQTVdyg7zFyNO3FCvf/MtGpu8WHR1aR14nRCG+UcmcU6fVzjPINYFyFuKX2wdvUwhAhRVeioGSu92VeWBnUVhcpZ6jfSrhQQqr0C3Vp3A==